/* CSS for MyExpenses component */

/* General styles */
header {
  text-align: center;
}


.expense-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.expense-form div {
  margin-bottom: 10px;
}

.expense-form label {
  font-weight: bold;
}

.expense-table {
  margin-top: 20px;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Mobile display styles for 9:4 aspect ratio */
@media only screen and (max-aspect-ratio: 9/4) {
  .expense-table table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .expense-table th,
  .expense-table td {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  .expense-table thead {
    display: block;
  }

  .expense-table tbody {
    display: table-row-group;
  }
}
