/* MyExpenses.css */

.container {
    text-align: center;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title {
    margin: 0;
  }
  
  .logout-button {
    background-color: #4CAF50;
    color: white;
    width: min-content;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* MyExpenses.css */

/* ... previous CSS rules ... */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #6b4141;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(red, green, blue, alpha);
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fffdfd;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active{
    
    color: #b39090;
}

#navbar li a:hover::after,
#navbar li a.active::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #e5dfdf;
    position: absolute;
    bottom: -4px;
    left: 20px;
}